.fret {
    background: #845924;
    position: relative;
    border-right: 1px solid black;
}

.fretnum {
    padding: 0;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.fretnum:hover{
    background: lightgray;
}

.active-num {
    color: red;
}

.string {
    position: absolute;
    height: 50%;
    width: 100%;
    border-bottom: 2px solid #afafaf;
    z-index: 1;
}

.shadow {
    -moz-box-shadow: 3px 3px 4px #444;
	-webkit-box-shadow: 3px 3px 4px #444;
	box-shadow: 3px 3px 4px #444;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#444444')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#444444');
}

.guitar {
    z-index: 1;
    margin: auto;
}


.on {
    background: black;
    color: white;
}

.off {
    background: none;
}

.on-selected {
    background: cornflowerblue;
}

.open {
    background: white;
    color: black;
}

.on-selected-root {
    color: white;
    background: red;
}

.playing {
    background: green;
}

.selector {
    z-index: 10;
    cursor: move;
    border: 5px solid greenyellow;
    padding: 0px;
    margin-left: -15px;
}

.circleBase {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
    width: 30px;
    height: 30px;
    margin: auto;
    padding: 0px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    z-index: 3;
    position: absolute;
}

.padding0 {
    padding: 0
}

.text-bold {
    font-weight: bold;
}

.top-toolbar {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: -15px;
}

.bot-toolbar {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}



