.string {
    border-bottom: 1px solid gray;
}

.fret {
    border-right: 1px solid black;
    height: 30px;
    width: 40px;
}

.guitar {
    width: 900px;
    margin: auto;
}

.on {
    background: red;
}

.off {
    background: none;
}

.playing {
    background: green;
}