.guitar {
    margin: 0px;
    padding: 0px;
}

.fret {
    margin: 0px;
    padding: 0px;
    width: 50px;
    height: 30px;
    border-right: 2px solid black;
    list-style-type: none;
    display: inline-block;
}

.on {
    background: red;
}

.off {
    background: none;
}

.string {
    margin: 0px;
    padding: 0px;
    margin-bottom: -3px;
}

#container {
    border: 1px solid gray;
    width: 900px;
    margin: auto;
    margin-top: 100px;
}